<div style="margin:auto; width:fit-content;">
  <h1 class="header" style="text-align: center">Krankheit erstellen</h1>

  <form (submit)="addDisease()" [formGroup]="diseaseForm">
    <div style="width: max-content">

      <mat-form-field class="input-field" style="margin-right: 5px" appearance="outline">
        <mat-label> Name </mat-label>
        <input formControlName="diseaseName" matInput required>
      </mat-form-field>

      <mat-form-field class="input-field" style="margin-right: 5px" appearance="outline">
        <mat-label>ICD-Code </mat-label>
        <input formControlName="icdCode" matInput  required>
        <mat-hint>Format:"A00.0"</mat-hint>
      </mat-form-field>

      <mat-form-field class="input-field" style="margin-right: 5px" appearance="outline">
        <mat-label> Beschreibung </mat-label>
        <input formControlName="description" matInput required>
      </mat-form-field>

      <mat-form-field class="input-field" style="margin-right: 5px" appearance="outline">
        <mat-label>Mindestalter </mat-label>
        <input formControlName="minAge" matInput>
        <mat-hint>"0-99"</mat-hint>
      </mat-form-field>

      <mat-form-field class="input-field" style="margin-right: 5px" appearance="outline">
        <mat-label>Höchstalter </mat-label>
        <input formControlName="maxAge" matInput>
        <mat-hint>"0-99"</mat-hint>
      </mat-form-field>

      <mat-form-field class="input-field" style="margin-right: 5px" appearance="outline">
        <mat-label>Threshold </mat-label>
        <input formControlName="threshold" matInput  required>
        <mat-hint>"0-1000"</mat-hint>
      </mat-form-field>

      Schwanger
      <mat-checkbox style="margin-left: 10px" color="primary" formControlName="pregnant" class="example-margin"></mat-checkbox>

    </div>
    <br>

    <h3 class="header"> Thresholds: </h3>

    <table style="width:95%">
      <thead>
      <th style="width:40%"> Lab Value:</th>
      <th style="width:10%"> Referenzwert:</th>
      <th style="width:10%"> Typ:</th>
      <th style="width:10%"> Gewicht:</th>
      <th style="width:10%"> </th>
      </thead>
      <tbody>
      <tr *ngFor="let threshold of this.thresholds">
        <td> {{threshold.labVal.labValName}}</td>
        <td> {{threshold.refVal_overwrite}}</td>
        <td> {{threshold.type}}</td>
        <td> {{threshold.weightValue}}</td>
        <td> <button mat-icon-button color="warn" type="button" (click)="removeThresholdFromThresholds(threshold)"> <mat-icon>delete</mat-icon></button> </td>
      </tr>
      </tbody>
    </table>


    <br>

    <button color="primary" mat-raised-button type=submit>Submit</button>

  </form>

  <br>

  <h3 class="header"> Thresholds eingeben: </h3>

  <form [formGroup]="thresholdsForm" (submit)="addThreshold()">


    <mat-form-field class="input-field" appearance="outline">
      <mat-select formControlName="labVal">
        <mat-option *ngFor="let labValue of labValues" [value]="labValue.labValName">
          {{labValue.labValName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-field" style="margin-right: 5px" appearance="outline">
      <mat-label>Referenzwert</mat-label>
      <input formControlName="refVal_overwrite" matInput>
    </mat-form-field>


    <mat-form-field class="input-field" appearance="outline">
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of typeNames()" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Gewicht</mat-label>
      <input formControlName="weightValue" matInput required>
    </mat-form-field>

    <br>

    <button color="primary" mat-raised-button type=submit>Add threshold</button>

    <br>


  </form>
</div>

