<h1 mat-line> Befundübersicht - {{patient?.firstName}} {{patient?.lastName}}</h1>
<mat-divider></mat-divider>
<p></p>
<h3 style="font-weight: normal;margin-top: 15px; margin-bottom: 0">
  <strong style="font-weight: bold">{{testResults?.length}} </strong>Befunde gefunden:
</h3>
<ng-container style="margin: 20px" *ngFor="let testResult of testResults">
  <mat-divider></mat-divider>
  <strong style="font-weight: bold; margin: 5px">Datum:</strong>   <a style="margin-right: 170px">{{testResult.date}}</a>
  <button style="margin:5px; align-self: flex-end" mat-button color="primary" (click)="viewTestResult(testResult.patientId)">
  Befund anzeigen
  </button>

</ng-container>
