<div style="margin-left:2%; margin-top:30px; align-content: center">
  <h1 style="font-size: xxx-large; font-weight: lighter">Übersicht der Krankheiten
    <button  mat-fab color="primary" aria-label="Example icon button with a home icon" (click)="addDisease()">
      <mat-icon>add</mat-icon>
    </button>
  </h1>
</div>






<table mat-table
       [dataSource]="diseases" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="icdCode">
    <th mat-header-cell *matHeaderCellDef> ICD Code </th>
    <td mat-cell *matCellDef="let element"> {{element.icdCode}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="age" >
    <th mat-header-cell *matHeaderCellDef> Alter </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.maxAge === 0 && element.minAge !== 0">
        ab {{element.minAge}}
      </ng-container>
      <ng-container *ngIf="element.maxAge !== 0 && element.minAge === 0">
        bis {{element.maxAge}}
      </ng-container>
      <ng-container *ngIf="element.maxAge !== 0 && element.minAge !== 0">
        von {{element.minAge}} bis {{element.maxAge}}
      </ng-container>
      <ng-container *ngIf="element.maxAge === 0 && element.minAge === 0">
      -
      </ng-container>
    </td>


  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="pregnant">
    <th mat-header-cell *matHeaderCellDef> Schwanger </th>
    <td mat-cell *matCellDef="let element">

      <ng-container *ngIf="element.pregnant">Ja</ng-container>
      <ng-container *ngIf="!element.pregnant">Nein</ng-container>

    </td>
  </ng-container>

  <ng-container matColumnDef="aktion">
    <th mat-header-cell *matHeaderCellDef> Aktion </th>
    <td mat-cell *matCellDef="let element">

      <button mat-icon-button color="secondary" routerLink = "/diseases/{{element.id}}">
        <mat-icon>info</mat-icon>
      </button>

      <button mat-icon-button color="warn" (click)="deleteDisease(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description">
          {{element.description}}
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>


