<div style="margin:auto; width:fit-content;">
  <h1 class="header">Befund erstellen</h1>

  <form (ngSubmit)="addTestResult()" [formGroup]="testResultForm">
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Datum</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field class="mat-button" appearance="outline">
      <mat-label>Blutwerte</mat-label>
      <input formControlName="labMeasures" matInput required>
      <mat-radio-button (click)="addLabMeasures()" style="font-size: medium"><mat-icon color="primary">add</mat-icon>Blutwerte eingeben</mat-radio-button>
    </mat-form-field>


    <button color="primary" mat-raised-button type=submit>Submit</button>
  </form>
</div>

