<div style="margin:auto; width:fit-content;">
  <h1 class="header" style="text-align: center">Befund erstellen</h1>

  <form (ngSubmit)="addTestResult()" [formGroup]="testResultForm">
    <div style="width: max-content">
      <mat-form-field class="input-field" appearance="outline">
        <mat-label>Datum</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </div>
    <br>

    <h3 class="header"> Blutwerte: </h3>

    <table style="width:95%">
      <thead>
      <th style="width:40%"> Lab Value:</th>
      <th style="width:10%"> Gemessener Wert:</th>
      <th style="width:10%"> Referenzwert höher:</th>
      <th style="width:10%"> Referenzwert niedriger:</th>
      <th style="width:10%"> Referenzwert von:</th>
      <th style="width:10%"> Referenzwert bis:</th>
      <th style="width:10%"> </th>
      </thead>
      <tbody>
      <tr *ngFor="let measure of this.labMeasures">
        <td> {{measure.labValue.labValName}}</td>
        <td> {{measure.measuredValue}}</td>
        <td> {{measure.refValueBigger}}</td>
        <td> {{measure.refValueLower}}</td>
        <td> {{measure.refValueFrom}}</td>
        <td> {{measure.refValueTo}}</td>
        <td> <button mat-icon-button color="warn" type="button" (click)="removeMeasureFromLabMeasures(measure)"> <mat-icon>delete</mat-icon></button> </td>
      </tr>
      </tbody>
    </table>


    <br>

    <button color="primary" mat-raised-button type=submit>Submit</button>

  </form>

  <br>

  <h3 class="header"> Blutwerte eingeben: </h3>

  <form [formGroup]="labMeasureForm" (submit)="addLabMeasure()">


    <mat-form-field class="input-field" appearance="outline">
      <mat-select formControlName="labValue">
        <mat-option *ngFor="let labValue of labValues" [value]="labValue.labValName">
          {{labValue.labValName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-field" style="margin-right: 5px" appearance="outline">
      <mat-label>Gemessener Wert</mat-label>
      <input formControlName="measuredValue" matInput required>
    </mat-form-field>

    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Referenzwert höher</mat-label>
      <input formControlName="refValueBigger" matInput required>
    </mat-form-field>

    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Referenzwert niedriger</mat-label>
      <input formControlName="refValueLower" matInput required>
    </mat-form-field>

    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Referenzwert von</mat-label>
      <input formControlName="refValueFrom" matInput required>
    </mat-form-field>

    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Referenzwert bis</mat-label>
      <input formControlName="refValueTo" matInput required>
    </mat-form-field>
    <br>

    <button color="primary" mat-raised-button type=submit>Add measure</button>

    <br>


  </form>
</div>
