<mat-card class="test-result-card" [class.mat-elevation-z8]="true">
  <button mat-raised-button class="btn btn-primary float-left" routerLink="/patients" type="button">Zurück</button>
  <mat-card-title style="text-align: center">Labor Blutbefund</mat-card-title>
  <mat-card-subtitle style="text-align: center">{{testResult?.date}} </mat-card-subtitle>
  <mat-card-content style="justify-content: center">
    <mat-divider style="margin-bottom: 20px"></mat-divider>
    <mat-grid-list style="margin: 20px 20% 20px 20%; justify-content: left; display: flex; text-align: left" cols="2" rowHeight="2rem" >
      <mat-grid-tile>Vorname:   {{patient?.firstName}}</mat-grid-tile>
      <mat-grid-tile>Nachname: {{patient?.lastName}}</mat-grid-tile>
      <mat-grid-tile>SV-Nr: {{patient?.svnr}}</mat-grid-tile>
      <mat-grid-tile>Geburtstag:  {{patient?.birthDate}}</mat-grid-tile>
      <mat-grid-tile>Geschlecht:
        <ng-container *ngIf="patient?.sex=='FEMALE'">Weiblich</ng-container>
        <ng-container *ngIf="patient?.sex=='MALE'">Männlich</ng-container>
      </mat-grid-tile>
      <ng-container *ngIf="patient?.sex=='FEMALE'">
        <mat-grid-tile>Schwanger:
        <ng-container *ngIf="patient?.pregnant">Ja</ng-container>
        <ng-container *ngIf="!patient?.pregnant">Nein</ng-container>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>

    <mat-divider></mat-divider>
    <div style="display: grid; justify-content: center">
    <table style="" mat-table [dataSource]="labMeasures" class="mat-elevation-z0 demo-table">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.labValue.labValName}} </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>gem. Wert</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.refValueBigger !==  null">
            <ng-container *ngIf="element.measuredValue < element.refValueBigger; else biggerElse" style="color: red"><div style="color: red;">{{element.measuredValue}} <ng-container *ngIf="element.labValue.unit!=='keine Einheit'">{{element.labValue.unit}} </ng-container></div></ng-container>
            <ng-template #biggerElse>{{element.measuredValue}} <ng-container *ngIf="element.labValue.unit!=='keine Einheit'">{{element.labValue.unit}} </ng-container></ng-template>
          </ng-container>
          <ng-container *ngIf="element.refValueLower !==  null">
            <ng-container *ngIf="element.measuredValue > element.refValueLower; else lowerElse" style="color: red"><div style="color: red;">{{element.measuredValue}} <ng-container *ngIf="element.labValue.unit!=='keine Einheit'">{{element.labValue.unit}} </ng-container></div></ng-container>
            <ng-template #lowerElse>{{element.measuredValue}} <ng-container *ngIf="element.labValue.unit!=='keine Einheit'">{{element.labValue.unit}} </ng-container></ng-template>
          </ng-container>
          <ng-container *ngIf="element.refValueFrom !==  null && element.refValueTo !== null">
            <ng-container *ngIf="element.measuredValue < element.refValueFrom || element.measuredValue > element.refValueTo ; else betweenElse" style="color: red"><div style="color: red;">{{element.measuredValue}} <ng-container *ngIf="element.labValue.unit!=='keine Einheit'">{{element.labValue.unit}} </ng-container></div></ng-container>
            <ng-template #betweenElse>{{element.measuredValue}} <ng-container *ngIf="element.labValue.unit!=='keine Einheit'">{{element.labValue.unit}} </ng-container></ng-template>
          </ng-container>

        </td>
      </ng-container>

      <ng-container matColumnDef="refValue">
        <th mat-header-cell *matHeaderCellDef>Referenzwert</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.refValueBigger !==  null">ab {{element.refValueBigger}}</ng-container>
          <ng-container *ngIf="element.refValueLower !==  null">bis {{element.refValueLower}}</ng-container>
          <ng-container *ngIf="element.refValueFrom !==  null && element.refValueTo !== null">{{element.refValueFrom}} - {{element.refValueTo}} </ng-container>
          <ng-container *ngIf="element.labValue.unit!=='keine Einheit'">{{element.labValue.unit}} </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions align="end">

    <button mat-button color="warn" (click)="deleteTestResult(testResult)">Löschen</button>
    <button mat-button color="primary" (click)="editTestResult(testResult)">Editieren</button>

    <button mat-button>Analysieren</button>

  </mat-card-actions>


</mat-card>
