<mat-card class="test-result-card" [class.mat-elevation-z8]="true">
  <mat-card-title style="text-align: center">Labor Blutbefund</mat-card-title>
  <mat-card-subtitle style="text-align: center">{{testResult?.date}} </mat-card-subtitle>
  <mat-card-content>
    <mat-divider></mat-divider>
    <mat-grid-list style="margin: 20px 20%; justify-content: left; display: flex; text-align: left" cols="2" rowHeight="2rem" >
      <mat-grid-tile>Vorname:   {{patient?.firstName}}</mat-grid-tile>
      <mat-grid-tile>Nachname: {{patient?.lastName}}</mat-grid-tile>
      <mat-grid-tile>SV-Nr: {{patient?.svnr}}</mat-grid-tile>
      <mat-grid-tile>Geburtstag:  {{patient?.birthDate}}</mat-grid-tile>
      <mat-grid-tile>Geschlecht:
        <ng-container *ngIf="patient?.sex=='FEMALE'">Weiblich</ng-container>
        <ng-container *ngIf="patient?.sex=='MALE'">Männlich</ng-container>
      </mat-grid-tile>
      <ng-container *ngIf="patient?.sex=='FEMALE'">
        <mat-grid-tile>Schwanger:
        <ng-container *ngIf="patient?.pregnant">Ja</ng-container>
        <ng-container *ngIf="!patient?.pregnant">Nein</ng-container>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>

    <mat-divider></mat-divider>
    <mat-grid-list style="margin-left: 20%; margin-right: 20%; margin-bottom: 0; text-align: left; justify-content: left" cols="2" rowHeight="2rem" *ngFor="let labMeasure of testResult?.labMeasures" >
      <mat-grid-tile colspan="1" style="text-align: left; justify-content: left" >{{labMeasure.labValue.labValName}}: </mat-grid-tile>
      <mat-grid-tile colspan="1" style="text-align: left; justify-content: left" >{{labMeasure.measuredValue}}
        <ng-container *ngIf="labMeasure.labValue.unit!=='keine Einheit'">{{labMeasure.labValue.unit}} </ng-container>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions align="end">
    <button mat-button>Analysieren</button>
    <button mat-button color="warn" (click)="deletePatient(testResult)">Löschen</button>
  </mat-card-actions>

</mat-card>
