<mat-toolbar style="height: 60px"  color="primary">
  <span class="header"> <button mat-button routerLink="/home" style="padding:8px; font-weight: normal; font-size: 30px; height: 60px"> DocHelper </button></span>
  <span class="subHeader"> <button mat-button routerLink="/diseases" style="padding:8px; font-weight: lighter; font-size: 22px; height: 60px">Krankheiten</button> </span>
  <span class="subHeader"> <button mat-button routerLink="/patients" style="padding:8px; font-weight: lighter; font-size: 22px; height: 60px">Patienten</button> </span>
  <span class="subHeader"> <button mat-button routerLink="/labvalue" style="padding:8px; font-weight: lighter; font-size: 22px; height: 60px">Blutwerte</button> </span>
</mat-toolbar>
