<button mat-raised-button style="margin-left:1%; margin-top: 10px"     class="btn btn-primary float-left" routerLink="/home" type="button">Zurück</button>
<div style="margin-left:6%; margin-top:30px; align-content: center">
  <h1 style="font-size: xxx-large; font-weight: lighter">Analyse der möglichen Krankheiten von {{patient!.firstName}} {{patient!.lastName}}
  </h1>
</div>

<style>
  table.tb { width: 1000px; border-collapse: collapse; text-align: center !important;}
  .tb th, .tb td { border: solid 1px #777; padding: 5px; }
</style>


<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke"
  ></apx-chart>
</div>

<table mat-table
       [dataSource]="analizedDiseases" multiTemplateDataRows
       class="mat-elevation-z8"
        style="width: 96%; margin: auto; margin-bottom: 20px">
  <ng-container matColumnDef="diseaseName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.disease.diseaseName}} </td>
  </ng-container>

  <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
    <td mat-cell *matCellDef="let element"> {{element.disease.description}} </td>
  </ng-container>

  <ng-container matColumnDef="pregnant">
    <th mat-header-cell *matHeaderCellDef> Schwanger </th>
    <td mat-cell *matCellDef="let element"> {{element.disease.pregnant}} </td>
  </ng-container>

  <ng-container matColumnDef="threshold" >
    <th mat-header-cell *matHeaderCellDef style="padding: 10px"> Threshold</th>
    <td mat-cell *matCellDef="let element"> {{element.disease.threshold}} </td>
  </ng-container>

  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef> Score </th>
    <td mat-cell *matCellDef="let element"> {{element.score}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

