<div style="margin-left:2%; margin-top:30px; align-content: center">
  <h1 style="font-size: xxx-large; font-weight: lighter">Analyse der Krankheiten von Patient
  </h1>
</div>

<table style="width:95%">
  <thead>
  <th style="width:40%"> Name:</th>
  <th style="width:10%"> Threshold:</th>
  <th style="width:10%"> Score:</th>
  <th style="width:10%"> </th>
  </thead>
  <tbody>
  <tr *ngFor="let scores of this.analizedDiseases">
    <td> {{scores.disease.diseaseName}}</td>
    <td> {{scores.disease.threshold}}</td>
    <td> {{scores.score}}</td>
  </tr>
  </tbody>
</table>

<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke"
  ></apx-chart>
</div>


